$project-primary-bg: #3d2712;
$project-primary-color: #fff;

$brand-primary: $project-primary-bg !default;

@import "globals/index";
@import "templates/project";

// .events_box .event .event-title{
//     text-decoration: line-through;
//     color: theme-color('danger');
// }