$project-primary-bg: #a80f6e;
$project-primary-color: #fff;

$brand-primary: $project-primary-bg !default;

@import "globals/index";
@import "templates/project";

.portrait.portrait {
	.aspect-ratio:before {
		padding-top: 100%;
	}
}

.portrait-image {
	border-radius: 50%;
}
