article, .article{
	display: block;
	position: relative;

	.schlagwoerter{
		margin-bottom: $abstand-xs;
	}

	.titelbild{
		margin-bottom: $abstand-sm;
		max-width: 100%;
		width: 50rem + (2 * $abstand-sm);
	}

	.inhalte-container{
		display: block;
		position: relative;
		@include media-breakpoint-up(sm) {
			padding-left: $abstand-sm;
			padding-right: $abstand-sm;
		}

		&>:first-child{
			margin-top: 0;
			padding-top: 0;
		}

		.aktuelles-inhalte{
			margin-top: $abstand-md;

			.aktuelles-carousel{
				margin-top: $abstand-y-xs;
			}
		}
	}

	.einleitung, .inhalt-block p, .inhalt-block>.akkordeon{
		max-width: 100%;
		width: 38em;
	}

	.titel{
		margin-top: 0;
		// margin-top: $abstand-xs;
		padding-top: $abstand-xs;
		margin-bottom: $abstand-y-sm * 1.5;
		padding-bottom: $abstand-xs;
		display: block;
		width: 16em;
		max-width: 100%;
		hyphens: auto;

		@include media-breakpoint-down(sm) {
			@include font-size(1.5rem);
			margin-bottom: $abstand-y-xs;
			line-height: 1.2;
		}
	}
	.einleitung{
		margin-bottom: $abstand-sm;
		font-weight: bold;
	}

	.inhalte{
		.bildergalerie{
			// margin: $abstand-md (-1 * $abstand-sm);
			width: auto;
		}
	}

	h2{
		@include fontsize("inhalt-h2", 1.1);
		margin-bottom: font-px("inhalt-h2");
	}
	h3{
		@include fontsize("inhalt-h3", 1.1);
		margin-bottom: font-px("inhalt-h3");
	}
	h4{
		@include fontsize("inhalt-h4", 1.1);
		margin-bottom: font-px("inhalt-h4");
	}
	h5{
		@include fontsize("inhalt-h5", 1.1);
		margin-bottom: font-px("inhalt-h5");
	}
	h6{
		@include fontsize("inhalt-h6", 1.1);
		margin-bottom: font-px("inhalt-h6");
	}
}