.card{
	color: $body-color;
	border-color: $bg-light;
	border: 0 none;

	.card-img{
		width: 100%;
		height: auto;

		.titelbild{
			background-size: cover;
			background-position: center center;
		}
	}

	.card-title{
		@include font-size('card-titel', 1.1);
		margin-bottom: $abstand-y-xs * 1.5;
	}
	.card-text{
		@include font-size('card-inhalt', 1.4);
	}

	.card-link{
		margin-top: $abstand-y-sm * 1.2;
	}

	.card-block{
		display: block;
		position: relative;
		padding: $abstand-y-sm $abstand-x-sm;
		border: 1px solid $bg-light;
		
		&>*:last-child{
			margin-bottom: 0;
		}
	}

	.card-meta{
		@include font-size('card-meta', 1.1);
		position: absolute;
		top: (-0.5 * (font-rem("card-meta") * 1.1 + ($abstand-y-xs * 2)));
		right: 0;
		font-weight: lighter;
		padding: $abstand-y-xs $abstand-x-xs;
		background: $brand-primary;
		color: text-color-over($brand-primary);
	}

	.beitrag-bild{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
		z-index: 0;
	}

	&.kein-hintergrund{
		background: transparent;
		color: inherit;
		border: 0 none;
	}

	&.overlay{
		.card-block{
			padding: $abstand-y-sm $abstand-x-sm;

			&>*:last-child{
				margin-bottom: 0;
			}
		}

		.card-block{
			display: block;
			position: relative;
		}

		.card-title{
			margin-bottom: $abstand-y-xs * 1.7;
		}

		.card-meta{
			@include font-size('card-meta', 1.1);
			position: absolute;
			top: (-0.5 * (font-rem("card-meta") * 1.1 + ($abstand-y-xs * 2)));
			right: 0;
			font-weight: lighter;
			padding: $abstand-y-xs $abstand-x-xs;
			background: theme-color(primary);
			color: text-color-over(theme-color(primary));
			z-index: 10;

			// @include media-breakpoint-down(sm) {
			// 	position: relative;
			// 	bottom: 0;
			// }
		}

		.card-link{
			margin-top: $abstand-xs * 1.5;
		}

		.card-header, .card-footer{
			h1, h2, h3, h4, h5, h6{
				margin-top: 0;
				margin-bottom: 0;

				&:first-child{
					margin-top: 0;
				}
			}

			a{
				color: text-color-over(theme-color("dark"));
			}
		}

		.card-img-overlay{
			display: flex;
			text-align: center;

			align-items: center;
			justify-content: center;
			flex-direction: column;
			background: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			transition: opacity 0.5s;
			opacity: 0;
		}

		.beitrag-bild{
			height: 100%;
			width: auto;
			max-width: 100%;
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}

		&:hover, &:focus, &.aktiv{
			&:not(.nicht-aktiv){
				.card-img-overlay{
					display: flex;
					opacity: 1;
				}
			}
		}

		&.hineinklappen{
			// Vorlage: Effekt 4, https://tympanus.net/Tutorials/CaptionHoverEffects/index4.html
			perspective: 1700px;
			perspective-origin: 0 55%;
			overflow: hidden;

			.card-inhalt-wrapper{
				transform-style: preserve-3d;
			}

			.card-img{
				transition: transform 0.4s;
			}

			.card-img-overlay{
				height: 100%;
				width: 55%;
				background: theme-color("dark");
				color: text-color-over(theme-color("dark"));
				opacity: 0;
				backface-visibility: hidden;
				transform-origin: 0 0;
				transform: rotateY(-90deg);
				transition: transform 0.4s, opacity 0.1s 0.3s;
				@include font-size(0.8);
				text-align: left;

				.card-text, .card-title, .top{
					position: relative;
					display: block;
					max-width: 100%;
				}

				.card-title{
					@include font-size(1.1);
				}

				.card-text{
					@include font-size(0.85);
				}

				@include media-breakpoint-down(sm) {
					width: 90%;
				}

				@include media-breakpoint-down(xs) {
					.card-title{
						@include font-size(0.9);
					}

					.card-text{
						@include font-size(0.7);
					}
				}

				.card-link{
					position: absolute;
					bottom: 20px;
					left: 20px;
				}
			}

			&:hover, &:focus, &.aktiv{
				&:not(.nicht-aktiv){
					.card-img{
						transform: translateX(25%);
					}

					.card-img-overlay{
						opacity: 1;
						transform: rotateY(0deg);
						transition: transform 0.4s, opacity 0.1s;
					}
				}
			}
		}
		&.hochwischen{
			// Vorlage: Effekt 2, https://tympanus.net/codrops/2013/06/18/caption-hover-effects/
			$beschreibungshoehe: 90px;
			$btnbreite: 60px;
			$min-textbreite: 150px;

			.card-img{
				z-index: 10;
				transition: transform 0.4s;
			}

			.card-img-overlay{
				height: $beschreibungshoehe;
				width: 100%;
				top: auto;
				bottom: 0;
				opacity: 1;
				display: block;
				text-align: left;
				padding: 15px;

				.top{
					display: inline-block;
					min-width: $min-textbreite;
				}

				.card-link{
					position: relative;
					display: inline-block;
					float: right;
					white-space: normal;
					text-align: center;
					@include font-size(0.9);
					padding: 5px 15px;
				}
			}

			&:hover, &:focus, &.aktiv{
				&:not(.nicht-aktiv){
					.card-img{
						transform: translateY(-1 * $beschreibungshoehe);
					}
				}
			}
		}
		&.kleiner-links-rechts{
			// Vorlage: Effekt 5, https://tympanus.net/codrops/2013/06/18/caption-hover-effects/

			.card-img{
				z-index: 10;
				transition: transform 0.4s;
			}

			.card-title{
				@include font-size(1.3, 1.1);
				margin-bottom: $abstand-y-sm / 2;
			}
			.card-text{
				@include font-size(0.9);
			}

			.card-img-overlay{
				height: 100%;
				width: 100%;
				opacity: 0;
				transform: scale(0.7);
				backface-visibility: hidden;
				transition: transform 0.4s, opacity 0.4s;
				display: block;
				text-align: left;

				.card-link{
					position: absolute;
					bottom: 20px;
					right: 20px;
				}
			}

			&:hover, &:focus, &.aktiv{
				&:not(.nicht-aktiv){
					.card-img{
						transform: scale(0.4);
					}
					.card-img-overlay{
						transform: scale(1);
						opacity: 1;
					}
				}
			}
		}
	}
}