.dev_ausgabe{
	padding: $abstand-y-xs $abstand-x-xs;

	pre{
		padding: ($abstand-y-xs * 2) $abstand-x-xs;
		background-color: #f7f7f9;
		margin-bottom: $abstand-y-xs;
	}

	hr{
		margin: $abstand-y-xs;
	}
}