.list-group{
	&.ohne-rand{
		.list-group-item{
			border: 0 none;
			margin-bottom: $abstand-y-sm;

			padding-left: $abstand-x-sm;
			margin-left: -1 * $abstand-x-sm;
			padding-right: $abstand-x-sm;
			margin-right: -1 * $abstand-x-sm;

			&>p:last-child{
				margin-bottom: 0;
			}

			&>div:last-child:first-child{
				&>h1, &>h2, &>h3, &>h4, &>h5, &>h6{
					margin-bottom: 0;
				}
			}
		}
	}
}