$project-primary-bg: theme-color("primary") !default;
$project-primary-color: text-color-over(theme-color("primary")) !default;
$project-primary-inverse-bg: #000 !default;
$project-primary-inverse-color: #fff !default;
$project-mainimage-color: #fff !default;
$project-sidebar-border-color: $project-primary-bg !default;

body {
  .btn-project-primary,
  .CommentFormSubmit > button {
    @include button-variant($project-primary-bg, $project-primary-bg);
  }

  .bg-project-primary {
    background-color: $project-primary-bg;
    color: $project-primary-color;
  }

  .text-project-primary {
    color: $project-primary-bg;
  }

  .rolle-container > .title {
    color: $project-primary-bg;
  }

  .portrait {
    .aspect-ratio:before {
      padding-top: 133.33%;
    }
  }

  .portrait-image {
    border: 3px solid #fff;
  }

  .btn-project-primary-inverse,
  .sidebar.sidebar .box .btn-project-primary-inverse {
    // @include button-variant($project-primary-inverse-color, $project-primary-inverse-bg, $project-primary-inverse-bg);
    border-width: 1px;
    border-style: solid;

    &:hover,
    &:focus {
      background-color: $project-primary-bg;
      color: $project-primary-color;
      border-color: $project-primary-bg;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($project-primary-bg, 0.25);
    }
  }

  .image-caption {
    border-color: $project-primary-bg;
  }

  .image-caption-top {
    background-color: rgba($project-mainimage-color, 0.5);
    color: text-color-over($project-mainimage-color);
  }

  blockquote {
    &:before {
      color: $project-primary-bg;
    }
  }

  .swiper-pagination-progress .swiper-pagination-progressbar {
    background: $project-primary-bg;
  }

  .project_role .title-link {
    &:hover {
      .title {
        color: $project-primary-bg;
      }
    }
  }

  .lSSlideOuter .lSPager.lSGallery li.active,
  .lSSlideOuter .lSPager.lSGallery li:hover {
    border-bottom-color: $project-primary-bg;
  }

  .sharing-box .social-button .icon {
    color: $project-primary-inverse-bg;
  }

  .swiper-pagination-progress .swiper-pagination-progressbar {
    background: $project-primary-bg;
  }
  .nav-link {
    &:hover,
    &:focus {
      color: $project-primary-bg;
    }
  }

  .project_page {
    .project-headbar {
      .project-title-link h1 {
        color: $project-primary-bg;
      }

      position: relative;
      display: block;
      text-align: right;

      .project-title-link {
        &:hover {
          text-decoration: none;
        }

        h1 {
          color: $project-primary-bg;
        }
        .lead {
          color: $text-muted;
        }
      }

      .title-text {
        padding: 24px;
      }

      .main_image {
        position: relative;
        display: block;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-bottom: 0.5 * (font-px("info-overlay") * 1.1 + (24 * 2));

        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
        }
      }

      .info-overlay {
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: (-0.5 * (font-px("info-overlay") * 1.1 + (24 * 2)));
        @include fontsize("info-overlay", 1.1);
        font-weight: lighter;
        padding: 24px 32px;
        background: $project-primary-bg;
        color: $project-primary-color;
        text-align: right;

        @include media-breakpoint-down(sm) {
          position: relative;
          display: block;
          bottom: 0;
          text-align: center;
          padding: 12px 24px;
        }
      }

      .project-title-wrapper {
        text-align: left;
      }

      .project-title {
        display: block;
        position: relative;
        text-align: right;
        display: block;
        position: relative;
        font-size: 24px;
        line-height: 1;
        font-weight: $headings-font-weight;
        width: 550px;
        max-width: 33%;
        padding: 40px 83px 8px 40px;

        @include media-breakpoint-down(sm) {
          width: 100%;
          max-width: 100%;
          display: none;
        }

        @include media-breakpoint-down(md) {
          padding-right: 43px;
        }

        small {
          display: block;
          font-size: 70%;
          line-height: 1.2;
        }
      }
    }

    a:not(.btn):not(.nav-link):not(.no-underline),
    .btn-link {
      text-decoration-color: $project-primary-bg;

      &:hover,
      &:focus {
        color: $project-primary-bg;
      }
    }

    .title-link,
    .btn-link,
    .general_data_box .data-item-link {
      &:hover,
      &:focus {
        color: $project-primary-bg;
      }

      &:focus {
        box-shadow: 0 0 0 0px rgba($project-primary-bg, 0.25);
      }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      background: $project-primary-bg;
      color: $project-primary-color;
    }
    .badge-primary {
      background: $project-primary-bg;
      color: $project-primary-color;
    }
  }
}
