article,
.article {
  display: block;
  position: relative;

  .tags {
    margin-bottom: 8px;
  }

  .main_image {
    display: block;
    margin-bottom: 24px;
    max-width: 100%;
    width: 670px;
  }

  .contents-container {
    display: block;
    position: relative;

    & > :first-child {
      margin-top: 0;
      padding-top: 0;
    }

    .content_articles {
      margin-top: 64px;

      @include media-breakpoint-down(sm) {
        margin-top: 48px;
      }

      .articles_carousel {
        margin-top: 8px;
      }
    }
  }

  .intro,
  .content-block p, .content-block blockquote,
  .content-block > .content_collapsible {
    max-width: 100%;
    width: 38em;
  }
  
  .title {
    margin-top: 4px;
    margin-bottom: 24px;
    display: block;
    width: 16em;
    max-width: 100%;
    hyphens: auto;

    @include media-breakpoint-down(sm) {
      @include font-size(1.5rem);
      line-height: 1.2;
    }
  }
  .intro {
    margin-bottom: 32px;
    font-weight: bold;
  }

  .contents_component {
    .content_gallery {
      width: auto;
    }
  }

  @include media-breakpoint-only(sm) {
    .title,
    .intro,
    .meta,
    .contents_component {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  @include media-breakpoint-up(md) {
    .title,
    .intro,
    .meta,
    .contents_component {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  h2 {
    @include fontsize("content-h2", 1.1);
    margin-bottom: font-px("content-h2");
  }
  h3 {
    @include fontsize("content-h3", 1.1);
    margin-bottom: font-px("content-h3");
  }
  h4 {
    @include fontsize("content-h4", 1.1);
    margin-bottom: font-px("content-h4");
  }
  h5 {
    @include fontsize("content-h5", 1.1);
    margin-bottom: font-px("content-h5");
  }
  h6 {
    @include fontsize("content-h6", 1.1);
    margin-bottom: font-px("content-h6");
  }
}
