.content_collapsible {
  & > .card,
  & > .collapsible-element > .card {
    margin-bottom: 3px;

    & > .card-header {
      padding: 0;

      & > a {
        padding: 0.75rem 1.25rem;
        display: block;

        & > h1,
        & > h2,
        & > h3,
        & > h4,
        & > h5,
        & > h6 {
          display: block;
          padding: 0;
          margin-top: 0;
          margin-bottom: 0;
          color: #fff;
        }
      }
    }
  }
}
