footer {
  display: block;
  position: relative;

  & > .container-fluid,
  & > .container {
    & > .row {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .tags_box.tags_box>.tag-cloud {
    margin-left: 0;
    margin-right: 0;
  }

  .contents_component {
    text-align: center;

    .btn {
      padding: 0.75rem 1.5rem;
      font-size: 1.25rem;
      font-weight: bold;
    }

    p {
      margin: 0 auto;
    }
  }

  .nav {
    &.flex-column {
      .nav-item {
        margin-left: -8px;
      }
    }

    .nav-link {
      padding: 8px;
    }
  }

  .top {
    position: relative;
    padding-top: 8px;
    padding-bottom: 150px;

    .breadcrumb{
      padding-bottom: 64px;
    }
  }

  .mid {
    position: relative;
    padding-top: 24px;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;

    @include media-breakpoint-up(sm) {
      padding-left: 48px;
      padding-right: 48px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -150px;
      left: 0;
      height: 156px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% 100%;
      background-image: url("./../../../img/spacer/spacer_dark_down.svg");
    }

    .form-control{
      height: auto;
    }

    .col{
      padding: 10px;
    }
  }

  .bottom {
    position: relative;
    @include fontsize(0.8);

    .row > div {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .footer-nav-tertiary {
    margin-left: -8px;

    .nav-link {
      color: $body-color;
    }

    @include media-breakpoint-down("sm") {
      flex-direction: column;
      margin-left: 0;

      .nav-link {
        margin-left: -8px;
      }
    }
  }
  .copyright {
    display: block;
    padding: 8px 0 8px 16px;
    text-align: right;
  }

  .footer-search,
  .socialmedia-links {
    display: flex;
    align-items: center;
  }

  .footer-search {
    & > form {
      width: 100%;
    }
  }

  .socialmedia-links.socialmedia-links {
    text-align: left;
    justify-content: flex-end;

    .title {
      display: none;
    }

    .social-button.social-button {
      display: flex !important;
      vertical-align: top;
      @include fontsize(2);
      margin: 10px 0;
      width: font-px(3);
      height: font-px(3);
      line-height: font-px(2);
      // padding: font-px(0.5);
      text-align: center;

      .icon {
        @include fontsize(2);
        line-height: font-px(2);
      }

      &.background {
        &:hover,
        &:focus {
          color: #fff;
        }
      }

      & > img,
      & > picture {
        width: font-px(2.4);
        height: font-px(2.4);
        display: block;
        margin: font-px(0.3) auto;
      }
    }
  }
}
