.image-small img, .image-small picture {
	max-width: 200px;
}
.image-medium img, .image-medium picture {
	max-width: 400px;
}

.image-caption {
	z-index: 10;
	position: relative;
	// background: $inverse-bg;
	// color: $inverse-color;
	
	padding: $padding-y-xs $padding-x-xs;
	font-style: italic;
	border-top: 2px solid $inverse-bg;
	@include fontsize(0.95, 1);
	color: $body-color;
}

.image-modal-link {
	display: block;
	position: relative;
}

.parallax-hintergrund {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	& > .image-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		z-index: 1;
	}
}

img.lazyload:not([src]), picture.lazyload:not([src]) {
  visibility: hidden;
}

// .ls-blur-up-img{
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: block;
//   font-family: "blur-up: always", "object-fit: cover";
//   object-fit: cover;
// }
