.layout-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: stretch;
  width: 100%;
  max-width: 100%;

  & > .contents-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;
    padding: 60px 20px 20px 20px;
  }

  & > .sidebar-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    order: 2;
    padding: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    padding-bottom: 60px;
  }

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;

    & > .contents-wrapper {
      width: auto;
      max-width: 67%;
      order: 2;
    }

    & > .sidebar-wrapper {
      order: 1;
      margin-bottom: 0;
      width: 550px;
      max-width: 33%;
    }
  }

  @include media-breakpoint-only(md) {
    & > .contents-wrapper {
      padding: 40px 40px 40px 20px;
    }

    & > .sidebar-wrapper {
      padding-right: 8px;
      padding-left: 20px;
    }
  }

  @include media-breakpoint-up(lg) {
    & > .sidebar-wrapper {
      padding: 20px 40px;
    }
  }
}
