.mf_comments{
	margin-top: 64px;
	max-width: 1000px;

	.CommentList{
		list-style: none;
		padding-left: 0;
		margin-bottom: 48px;

		&>.CommentListItem{
			position: relative;
			display: block;
			margin-bottom: 8px;
			padding: 8px;
			background: $bg-light;
			overflow: auto;

			&>.CommentGravatar{
				position: relative;
				display: inline-block;
				float: left;
				height: 100%;
				width: auto;
				margin-right: 8px;

				&:after {
					content: "";
					display: block;
					clear: both;
				}
			}

			&>.CommentHeader, &>.CommentText, &>.CommentFooter{
				display: block;
			}

			&>.CommentHeader{
				margin-bottom: 8px;

				&>.CommentCite{
					font-weight: bold;
				}
			}
		}
	}
}