@import "~hover.css/scss/hover";

.section {
	position: relative;
	display: block;
	background-color: $body-bg;
	margin-top: $padding-md;
	margin-bottom: $padding-md;

	padding-top: $padding-y-sm;
	padding-bottom: $padding-y-sm;
	padding-left: $padding-x-sm;
	padding-right: $padding-x-sm;

	@include media-breakpoint-up(sm) {
		padding-top: $padding-y-md;
		padding-bottom: $padding-y-md;
		padding-left: $padding-x-md;
		padding-right: $padding-x-md;
	}

	&:first-child {
		margin-top: 0;
	}

	.section-title {
		margin-top: $padding-y-md;
		margin-bottom: $padding-y-sm;
		@include fontsize("section-title", 1.2);
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;

		& > span {
			margin-left: auto;
			margin-right: auto;
			border-bottom: 1px solid $body-color;
			margin-bottom: $padding-y-sm;
			width: 100%;
			max-width: 100%;
		}

		&.sr-only,
		&.sr-only > span {
			margin-top: 0;
			margin-bottom: 0;
			border-bottom: 0 none;
			padding-bottom: 0;
			height: 1px;
		}

		@include media-breakpoint-down(xs) {
			@include fontsize("section-title-xs", 1.4);
		}
	}

	& > .row {
		padding-left: 0;
		padding-right: 0;
	}

	& > :first-child {
		margin-top: 0;
	}
	& > :last-child {
		margin-bottom: 0;
	}
}

@mixin section-variant($color, $gradientcolor: null) {
	@if ($gradientcolor == null) {
		$gradientcolor: darken($color, 5%);
	}
	background-color: $color;
	background-image: linear-gradient(315deg, $gradientcolor 0%, $color 74%);
	color: text-color-over($color);

	.section-title > span {
		border-color: text-color-over($color);
	}

	a:not(.btn):not(.social-button) {
		color: text-color-over($color);

		.icon{
			color: text-color-over($color);
		}

		&:hover,
		&:focus {
			@if $color != theme-color("primary") {
				color: contrast(theme-color("primary"), $color);
			}
			else {
				@include grow();
			}

			.icon{
				@if $color != theme-color("primary") {
					color: contrast(theme-color("primary"), $color);
				}
				else {
					@include grow();
				}
			}
		}
	}

	a.social-button:not(.btn) {
		color: text-color-over($color);

		.icon{
			color: text-color-over($color);
		}
	}

	.nav {
		.nav-link {
			color: text-color-over($color);

			&:hover,
			&:focus {
				@if $color != theme-color("primary") {
					color: contrast(theme-color("primary"), $color);
				}
				else {
					@include grow();
				}
			}
		}
	}
}

.section,
.container,
.container-fluid {
	&.highlight {
		@include section-variant(theme-color("primary"));

		// All colors defined in $colors are selectable as background colors.
		@each $color, $value in $colors {
			&.#{$color} {
				@include section-variant($value);
			}
		}

		// All colors defined in $theme-colors are also selectable as background colors.
		@each $color, $value in $theme-colors {
			&.#{$color} {
				@include section-variant($value);
			}
		}
	}

	&.center {
		text-align: center;
	}
}
