{
	"presets": [
	  [
		"@babel/preset-env",
		{
		  "targets": {
			"browsers": ["last 2 versions", "> 2%"]
		  },
		}
	  ]
	],
	"plugins": [
	  "transform-regenerator",
	  "transform-react-jsx",
	  "@babel/plugin-syntax-dynamic-import"
	]
  }
