.DS_Store?
.DS_Store
.idea
.sass-cache
.sass-cache/*
composer.phar
composer.lock
.sublime-gulp.cache
*.css.map
/stat/
temp/
sess_*
*.cache
*.swp
*.swo
.svn
/*.html
gulpfile.js
sitemap.xml 

# node_modules ausnehmen. node_modules enthält externe Node-Plugins, die in der package.json als dependencies aufgeführt sind. Mit 'yarn install' oder 'npm install' können diese Plugins lokal nachinstalliert werden.
node_modules/
bower_components/
yarn-error.log
yarn.lock

# Don't git ProcessWire folders:
/wire/
/site/assets/
/site/config-dev.php
/site/config.php
/index.php

# Don't add modules to the git... #
/site/modules/*
# Custom Module müssen explizit wieder freigegeben werden. Hier ein Beispielcode dafür:
# !/site/modules/CustomModul
!/site/modules/SebiMusicalFabrikFunctions
!/site/modules/FieldtypeProjectRoles
!/site/modules/PageAccessApplications
!/site/modules/PageAccessPermissions
!/site/modules/PageAccessReleasetime

/*.html
/site/templates/entwicklung/external/progressively
/bin
