@function brightness($color) {
	@return (
		(red($color) * 0.299) + (green($color) * 0.587) + (blue($color) * 0.114)
	);
}

@function contrast($color1, $color2) {
	@if (abs(brightness($color1) - brightness($color2)) < 120) {
		@return scale-color($color1, $lightness: 25%); // do something to color1
	} @else {
		@return $color1; // don't do anything, use color1
	}
}

// Optimale Textfarbe über einem Hintergrund berechnen:
@function text-color-over($bgcolor) {
	@if (lightness($bgcolor) > 60) {
		@return #333; // Heller Hintergrund -> Dunkle Schriftfarbe
	} @else {
		@return #f1f1f1; // Dunkler Hintergrund -> Helle Schriftfarbe
	}
}

// Start with assigning color names to specific hex values.
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Colors
//MF-Colors
$mf-rot: #770b09;
$mf-orange: #fd8e00;
// $mf-grau: #252830;
$mf-grau: #434857;
// $mf-grau: #293a46;
$mf-hellgrau: darken(#f7f7f9, 2%);
$mf-primary: $mf-orange;

$medicus-primary: #3d2712;

$paepstin-purpur: #a80f6d;
$paepstin-purpur-dark: #7c1b57;
$paepstin-black: #160107;
$paepstin-white: #feffff;

$paepstin-primary: darken($paepstin-purpur, 10%);
$paepstin-secondary: #fff;
$paepstin-tertiary: lighten(#82786c, 10%);

//Wizard-Colors
$wizard-primary: #de9d00;
$wizard-secondary: #bfb958;
$wizard-tertiary: #bd8700;

//Oliver!-Colors
$oliver-blue: #212b52;
$oliver-yellow: #fddd07;
$oliver-brown: #82786c;
$oliver-primary: $oliver-blue;

//Beauty-Colors
$beauty-purple: #854363;
$beauty-primary: $beauty-purple;

$brand-primary: $mf-orange !default;
$brand-secondary: $mf-rot !default;
$brand-tertiary: $mf-grau !default;

$grays: (
	100: $gray-100,
	200: $gray-200,
	300: $gray-300,
	400: $gray-400,
	500: $gray-500,
	600: $gray-600,
	700: $gray-700,
	800: $gray-800,
	900: $gray-900,
);

$colors: (
	blue: $blue,
	indigo: $indigo,
	purple: $purple,
	pink: $pink,
	red: $red,
	orange: $orange,
	yellow: $yellow,
	green: $green,
	teal: $teal,
	cyan: $cyan,
	white: $white,
	gray: $gray-600,
	gray-dark: $gray-800,
	gray-light: $gray-400,
	gray-lighter: $gray-200,
	twitter: #00aced,
	facebook: #3b5997,
	googleplus: #dd4b39,
	google: #ea4335,
	dribbble: #ea4c89,
	octocat: #6e5494,
	github: #6e5494,
	instagram: #e94d5e,
	whatsapp: #43d854,
	snapchat: #fffc00,
	foursquare: #f94877,
	pinterest: #bd081c,
	rss: #f26522,
	tumblr: #35465c,
	wordpress: #21759b,
	reddit: #ff4500,
	youtube: #cd201f,
	linkedin: #0074a1,
	steam: #000,
	xing: #026466,
	stackoverflow: #f48024,
	sebiworld: #871c14,
	musical-fabrik: #fd8e00,
	the-voice-company: #472a78,
	dieschoeneunddasbiest: $beauty-primary,
	oliver: $oliver-primary,
	zauberervonoz: $wizard-primary,
	paepstin: $paepstin-primary,
	medicus: $medicus-primary
);

$theme-colors: (
	primary: $brand-primary,
	secondary: $brand-secondary,
	tertiary: $brand-tertiary,
	success: $green,
	info: $cyan,
	warning: $yellow,
	danger: $red,
	light: #f1f1f5,
	dark: #000000,
	// projekt-primary: $mf-orange,
	// dieschoeneunddasbiest: $beauty-primary,
		// oliver: $oliver-primary,
		// zauberervonoz: $wizard-primary,
		// paepstin: $paepstin-primary,
);

$btn-link-disabled-color: color("gray-light") !default;

$navbar-dark-color: rgba($white, 0.5) !default;
$navbar-dark-hover-color: rgba($white, 0.75) !default;
$navbar-dark-active-color: rgba($white, 1) !default;
$navbar-dark-disabled-color: rgba($white, 0.25) !default;
