$padding-xs:		.5rem;
$padding-x-xs:		$padding-xs;
$padding-y-xs:   	$padding-xs * 0.75;

$padding-sm: 		2rem;
$padding-x-sm: 		$padding-sm;
$padding-y-sm:     	$padding-sm * 0.65;

$padding-md:    	4rem;
$padding-x-md:    	$padding-md;
$padding-y-md:    	$padding-md * 0.75;

$padding-lg:  		10rem;
$padding-x-lg:  	$padding-lg;
$padding-y-lg:   	$padding-lg * 0.75;

$padding-xlg:  		20rem;
$padding-x-xlg:  	$padding-xlg;
$padding-y-xlg: 	$padding-xlg * 0.75;