$projekt-primary-bg: #9fb030;
$projekt-primary-color: #fff;

$brand-primary: $projekt-primary-bg !default;

@import "globals/index";
@import "vorlagen/projekt";

body .portrait-bild{
	border: 3px solid #DCDCDC;
}
