@import "./globals/index";

.aktuelles-kacheln{
	margin-left: -1 * $abstand-y-xs;
	margin-right: -1 * $abstand-y-xs;

	.gesamtanzahl{
		margin: $abstand-y-xs;
	}

	&>.btn-group{
		margin: $abstand-y-xs;
		display: block;
		text-align: center;
	}

	.masonry-grid{

		.masonry-grid-sizer,
		.masonry-grid-item {
			width: 20%;
		}

		.masonry-grid-item {
			padding: $abstand-y-xs;
		}

		@include media-breakpoint-down('xl') {
			.masonry-grid-sizer,
			.masonry-grid-item {
				width: 33%;
			}
		}

		@include media-breakpoint-down('lg') {
			.masonry-grid-sizer,
			.masonry-grid-item {
				width: 33%;
			}
		}

		@include media-breakpoint-down('sm') {
			.masonry-grid-sizer,
			.masonry-grid-item {
				width: 50%;
			}
		}

		@include media-breakpoint-down('xs') {
			.masonry-grid-sizer,
			.masonry-grid-item {
				width: 100%;
			}
		}
	}
}

.hat-seitenbereich{
	.aktuelles-kacheln{
		.masonry-grid{

			.masonry-grid-sizer,
			.masonry-grid-item {
				width: 20%;
			}

			@include media-breakpoint-down('xl') {
				.masonry-grid-sizer,
				.masonry-grid-item {
					width: 33%;
				}
			}

			@include media-breakpoint-down('lg') {
				.masonry-grid-sizer,
				.masonry-grid-item {
					width: 50%;
				}
			}

			@include media-breakpoint-down('md') {
				.masonry-grid-sizer,
				.masonry-grid-item {
					width: 100%;
				}
			}
		}
	}
}