@import "./globals/index";

.auffuehrungen-box{
	p{
		margin-bottom: $abstand-xs;
		&:last-child{
			margin-bottom: 0;
		}
	}

	.subtitel{
		margin-top: $abstand-sm;
		@include font-size("box-subtitel", 1.2);
		font-family: $font-family-sans-serif;
		font-style: italic;
	}

	.auffuehrung{
		margin-bottom: $abstand-y-sm;

		.auffuehrung-titel{
			@include font-size("box-auffuehrung-titel", 1.2);
			margin-bottom: 0;
		}
		.auffuehrung-besetzung{
			@include font-size("box-auffuehrung-besetzung", 1.2);
		}
	}

	.btn-sm{
		margin-top: $abstand-xs;
	}
}