@import "./globals/index";

.inhalte-diagramm{
	display: block;
	position: relative;

	.diagramm-container{
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		min-height: 400px;
		// height: 30vw;
		// width: 80vw;
		margin: 0 auto;
	}
}