@import "./globals/index";

.inhalte,
.InputfieldCKEditorInline {
	.row {
		padding-left: 0;
		padding-right: 0;
	}

	.riesig {
		@include font-size(10, 1.1);
	}

	.gross {
		@include font-size(5, 1.1);
	}

	.etwas-gross {
		@include font-size(2, 1.1);
	}

	.inhalt-block {
		margin-bottom: $abstand-y-sm;
		max-width: 100%;

		&:first-child,
		& > *:first-child {
			margin-top: 0;
		}

		&:last-child,
		& > *:last-child {
			margin-bottom: 0;
		}

		.block-titel {
			margin-top: $abstand-sm;
			margin-bottom: $abstand-xs;
		}

		.inhalt-text {
			width: 100%;
		}

		.inhalte-akkordeon {
			width: 38em;
			max-width: 100%;
		}
	}

	.inhalt-unterblock {
		display: flex;
		align-items: start;
		justify-content: start;
	}

	h2 {
		@include font-size("inhalt-h2", 1.1);
		margin-top: font-px("inhalt-h2") * 2;
		margin-bottom: font-px("inhalt-h2");

		&:first-child {
			margin-top: font-px("inhalt-h2");
		}
	}
	h3 {
		@include font-size("inhalt-h3", 1.1);
		margin-top: font-px("inhalt-h3") * 2;
		margin-bottom: font-px("inhalt-h3");
	}
	h4 {
		@include font-size("inhalt-h4", 1.1);
		margin-top: font-px("inhalt-h4") * 2;
		margin-bottom: font-px("inhalt-h4");
	}
	h5 {
		@include font-size("inhalt-h5", 1.1);
		margin-top: font-px("inhalt-h5") * 2;
		margin-bottom: font-px("inhalt-h5");
	}
	h6 {
		@include font-size("inhalt-h6", 1.1);
		margin-top: font-px("inhalt-h6") * 2;
		margin-bottom: font-px("inhalt-h6");
	}

	p {
		width: 38em;
		max-width: 100%;
	}

	.limit-video {
		width: 32em;
		max-width: 100%;

		&.w-600 {
			width: 600px;
		}
		&.w-800 {
			width: 800px;
		}
		&.w-1000 {
			width: 1000px;
		}
	}

	.center,
	.center > p {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.bildergalerie {
		margin-top: $abstand-md;
		margin-bottom: $abstand-md;
		width: auto;
	}
}

.zentriert {
	.inhalte {
		.inhalt-block,
		.inhalt-block > *,
		p {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.vertikal-zentriert{
	.inhalte{
		.inhalt-unterblock {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
