@import "./globals/index";
@import "~mediaelement/build/mediaelementplayer.min";

.mejs__overlay-button {
	background-image: url("../../img/mejs-controls.svg");
}
.mejs__overlay-loading-bg-img {
	background-image: url("../../img/mejs-controls.svg");
}
.mejs__button > button {
	background-image: url("../../img/mejs-controls.svg");
}

.inhalte-dateien {
	width: 100%;
	align-self: flex-start;

	.dateien {
		margin: $abstand-y-sm 0;
	}
	.datei {
		margin-top: $abstand-y-xs;
		margin-bottom: $abstand-y-xs;
		padding: $abstand-xs $abstand-sm $abstand-xs 114px;
		background: $bg-light;
		position: relative;
		max-width: 100%;

		a {
			color: $body-color;

			&:hover,
			&:focus {
				color: lighten($body-color, 10%);
			}
		}

		& > .icon-wrapper {
			font-size: 60px;
			margin: 0 auto;
			display: flex;
			position: absolute;
			// top: 50%;
			// margin-top: -45px;
			top: 0;
			left: 0;
			bottom: 0;
			width: 114px;
			vertical-align: middle;
			text-align: center;
			align-items: center;
			justify-content: center;

			& > .icon {
				display: block;
				font-size: 60px;
				line-height: 1;
				margin: 0 auto;
				text-align: center;
			}
		}

		.media-body {
			position: relative;
			display: block !important;
			max-width: 100%;
			color: $body-color;
		}

		.dateiname {
			margin-top: $abstand-y-xs;
			margin-bottom: 0;
			display: block;
			word-wrap: break-word;
		}

		.datei-meta {
			margin-bottom: $abstand-y-xs;
		}

		.audioplayer-wrapper {
			margin-top: $abstand-y-xs;
			display: block;
			position: relative;
			width: 100%;
		}

		.audioplayer {
			position: relative;
			display: block;
			// background: $bg-light;
			// margin-top: $abstand-y-xs;
			width: 100%;
			max-width: 100%;
		}
	}

	@include media-breakpoint-down(xs) {
		.datei {
			padding: $abstand-xs 20px $abstand-xs 70px;

			& > .icon-wrapper {
				font-size: 40px;
				width: 70px;
				& > .icon {
					font-size: 40px;
				}
			}
		}
	}

	&[data-tiefe="1"] {
		@include media-breakpoint-down(sm) {
			.datei {
				padding: $abstand-xs 20px $abstand-xs 70px;

				& > .icon-wrapper {
					font-size: 40px;
					width: 70px;
					& > .icon {
						font-size: 40px;
					}
				}
			}
		}
	}

	&[data-tiefe="2"] {
		@include media-breakpoint-down(md) {
			.datei {
				padding: $abstand-xs 20px $abstand-xs 70px;

				& > .icon-wrapper {
					font-size: 40px;
					width: 70px;
					& > .icon {
						font-size: 40px;
					}
				}
			}
		}
	}
}
