@import "./globals/index";
@import "~hover.css/scss/hover";

.schlagwoerter.box{

	&>.wolke{
		padding: $abstand-y-xs 0;
		margin: 0 -7px;
		@include font-size(0.8, 1.4);

		&>.wort.wort{
			white-space: normal;
			text-align: left;
			margin-bottom: 7px;
			margin-right: 7px;
			color: $body-color;

			&.aktiv{
				// border: 3px solid theme-color('primary');
				color: theme-color('primary');
			}

			&:hover, &:focus{
				color: theme-color('primary');
			}

			&.hat-hintergrund{
				color: #fff;
				@include grow();
				
				&:hover, &:focus{
					color: #fff;
				}
			}

			&.w-1{
				font-size: 0.6em;
			}
			&.w-2{
				font-size: 0.8em;
			}
			&.w-3{
				font-size: 1em;
			}
			&.w-4{
				font-size: 1.2em;
			}
			&.w-5{
				font-size: 1.4em;
			}
			&.w-6{
				font-size: 1.6em;
			}
		}
	}
}

.hervorgehoben{
	.schlagwoerter.box{
		&>.wolke{
			&>.wort{
				color: #fff;

				&:hover, &:focus{
					color: contrast(theme-color('primary'), theme-color("dark"));
				}
			}
		}
	}
}