@import "./globals/index";

.seitenleiste{
	border-style: solid;
	border-width: 0 2px 0 0;
	border-color: $body-color;
	padding: $abstand-md;

	@include media-breakpoint-down(md) {
		padding: $abstand-sm;
	}

	@include media-breakpoint-down(sm) {
		padding: $abstand-xs;
	}

	.box{
		color: $body-color;
		margin: $abstand-md 0;

		@include media-breakpoint-down(sm) {
			margin: $abstand-sm 0;
		}

		&:first-child{
			margin-top: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}

		.titel{
			padding-bottom: 0.5em;
			margin-bottom: 0.5em;
			border-style: solid;
			border-width: 0 0 2px 0;
			border-color: $body-color;
			@include fontsize("box-titel", 1.2);
		}

		a{
			color: $body-color;

			&:hover, &:focus{
				color: theme-color('primary');
			}
		}
	}
}