$font-factor-base: 16;
$font-factors: (
	base: 1.0,
	section-title: 3.4,
	section-title-xs: 1.5,
	form-text: 0.8,

	box-title: 1,
	box-subtitle: 0.8,
	box-event-title: 1,
	box-event-cast: 1,

	social-button: 2,
	projectrole-list-title: 2,
	projectrole-cast-title: 0.9,
	portrait-title: 1,
	info-overlay: 1.1,

	content-h2: 1.5,
	content-h3: 1.3,
	content-h4: 1.1,
	content-h5: 1,
	content-h6: 0.8,

	card-title: 1.5,
	card-content: 0.9,
	card-meta: 0.8,

	button-md: 1,
	button-lg: 1.2
	);

/**
* Display the size of a font in pixels
*/
@function font-px($key){
	@return round(get-font-factor($key) * $font-factor-base) * 1px;
}
@function font-rem($key){
	@return get-font-factor($key) * 1rem;
}

@function get-font-factor($key){
	@if map-has-key($font-factors, $key) {
		@return map-get($font-factors, $key);
	}

	@return $key;
}

/**
* Output the font size in Rem
*/
@function calculateRem($size){
	$remSize: ($size / $font-factor-base) * 1px;
	@return $remSize * 1rem;
}

/**
* Output the font size in Rem and Px and the line height.
*/
@mixin fontsize($fontsize: 1.0, $lineheight: 1.5){
	font-size: font-px($fontsize);
	line-height: round(get-font-factor($fontsize) * $lineheight * $font-factor-base) * 1px;
	font-size: get-font-factor($fontsize) * 1rem;
	line-height: (get-font-factor($fontsize) * $lineheight) * 1rem;

	// Fix für IE 10 & 11: Kann line-height rem nicht in Pseudoelementen anzeigen.
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		line-height: round(get-font-factor($fontsize) * $lineheight * $font-factor-base) * 1px;
	}
}