@import "./globals/index";

.t-rollen_container, .t-rolle{
	.inhaltsbereich{
		text-align: center;

		.einleitung{
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		.titelbild{
			margin-left: auto;
			margin-right: auto;
			display: inline-block;

			.seitenverhaeltnis > .sv-inhalt.bg-bild{
				background-size: contain;
				background-position: bottom center;
				background-color: #fff;
			}
		}

		.inhalte{
			margin-bottom: 40px;
		}

		.inhalt-text{
			&>p{
				margin-left: auto;
				margin-right: auto;
			}
		}

		.titel{
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.staffeln-block{
	&>.nav{
		margin-bottom: 20px;
	}
}

.rollen-seite{
	margin-top: $abstand-sm;
	width: 100%;

	.card{
		background: transparent;
	}

	&>.titel-link{
		.titel{
			@include font-size("rolle-liste-titel", 1.2);
		}
	}

	.titel-link{
		&:hover{
			.titel{
				color: $brand-primary;
			}
		}
	}

	&>.card>.card-block, &>.titel-link>.card>.card-block{
		padding-top: $abstand-xs;
	}

	.rollen-seite{
		margin-bottom: $abstand-y-md;

		.titel{
			margin-bottom: $abstand-y-sm;
		}

		.einleitung{
			margin-top: -0.95 * $abstand-y-sm;
			font-weight: normal;
		}

		&:last-child{
			margin-bottom: $abstand-y-xs;
		}
	}

	.rolle-container{
		margin-bottom: $abstand-md;

		&>.titel{
			display: block;
			width: 100%;
			font-weight: bold;
			@include font-size("rolle-liste-titel", 1.2);
		}
	}

	.besetzungen-reihe{
		display: flex;
		justify-content: space-around;
		margin-bottom: $abstand-md;

		.besetzung-block{
			width: 50%;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;

			&>.titel{
				display: flex;
				flex-direction: column;
				// flex-grow: 1;
				flex-shrink: 0;
				flex-basis: auto;
				width: 100%;
				text-align: center;
				font-weight: light;
				padding: 0 1.5rem;
				border-left: 2px solid #000;
				margin-left: -1px;
				// border-right: 1px solid #000;
				margin-bottom: $abstand-sm;
				@include font-size("rolle-besetzung-titel", 1.2);
			}

			&:first-child{
				border-left: 0 none;


				padding-left: 0;

				&>.titel{
					text-align: right;
					border-left: 0 none;
				}
			}
			&:last-child{
				border-right: 0 none;
				padding-right: 0;

				&>.titel{
					text-align: left;
					// border-right: 0 none;
				}
			}

			.portrait-block{
				padding-top: 0;
			}
		}
	}

	.portrait-block{
		max-width: 250px!important;
	}

	.mitwirkenden-portrait{
		max-width: 210px;
		border: 0 none;
		text-align: center;
		background-color: transparent;

		.card-img-top img{
			max-width: 100%;
			width: 100%;
		}

		.card-block{
			border: 0 none;
			border-top: 0px solid #000;
			margin-top: $abstand-xs;
			padding: 0;
			padding-top: $abstand-xs;
		}

		.card-title{
			@include font-size("portrait-titel", 1.2);
		}
	}

	.unterrollen-teaser{
		max-width: 600px;
		margin-bottom: 100px;

		.card{
			border: 0 none;
		}
	}

	.besetzungen-als-block{
		.besetzung-block{
			margin-bottom: $abstand-y-sm;

			&>.titel{
				margin-top: $abstand-y-xs;
				margin-bottom: $abstand-y-sm;
				border-bottom: 2px solid #000;

				&>strong{
					font-weight: normal;

					&:after{
						content: ':'
					}
				}
			}
		}
	}
}

.gruppenportrait{
	.rolle-gruppenbild{
		max-width: 800px;
	}
	.card-block{
		border: 0 none;
		margin-bottom: $abstand-y-md;
	}
}

// Besetzungen-Reihe an oberster Ebene, hat meist keine Unterrollen:
.inhalte-container>.rollen-seite{
	margin-top: 0;

	.besetzungen-reihe{
		margin-bottom: $abstand-y-xs;
	}

	.unterrollen{
		&>.rollen-seite{
			&:first-child{
				margin-top: $abstand-y-xs;
			}
		}

		.portraits-reihe{
			align-items: center;
			justify-content: center;
		}
	}
}