@import "./globals/index";

.standardseite{
	position: relative;
	display: block;
	padding-top: $abstand-sm;

	margin-bottom: $abstand-md;
	@include media-breakpoint-down(md) {
		margin-bottom: $abstand-sm;
	}

	.row{
		&>.seitenbereich{
			padding: 0;
		}

		&>.inhaltsbereich{
			padding: ($abstand-md * 1.5) 0 ($abstand-md * 1.5) $abstand-md;

			@include media-breakpoint-down(md) {
				padding: ($abstand-sm * 1.5) 0 ($abstand-sm * 1.5) $abstand-sm;
			}

			@include media-breakpoint-down(sm) {
				padding: ($abstand-xs * 1.5) $abstand-xs;
			}

			&>.titelbild{
				margin-bottom: $abstand-md;
			}

			&>.inhalte-container{
				margin-top: 0;
				// max-width: 1000px;
			}
		}
	}
}