$font-path: "./../../../fonts/";

@font-face {
  font-family: "Aileron";
  src: url("#{$font-path}aileron/Aileron-Bold.otf") format("opentype"),
    url("#{$font-path}aileron/Aileron-Bold.ttf") format("truetype"),
    url("#{$font-path}aileron/Aileron-Bold.svg") format("svg"),
    url("#{$font-path}aileron/Aileron-Bold.eot") format("eot"),
    url("#{$font-path}aileron/Aileron-Bold.woff") format("woff"),
    url("#{$font-path}aileron/Aileron-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("#{$font-path}aileron/Aileron-Heavy.otf") format("opentype"),
    url("#{$font-path}aileron/Aileron-Heavy.ttf") format("truetype"),
    url("#{$font-path}aileron/Aileron-Heavy.svg") format("svg"),
    url("#{$font-path}aileron/Aileron-Heavy.eot") format("eot"),
    url("#{$font-path}aileron/Aileron-Heavy.woff") format("woff"),
    url("#{$font-path}aileron/Aileron-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("#{$font-path}aileron/Aileron-HeavyItalic.otf") format("opentype"),
    url("#{$font-path}aileron/Aileron-HeavyItalic.ttf") format("truetype"),
    url("#{$font-path}aileron/Aileron-HeavyItalic.svg") format("svg"),
    url("#{$font-path}aileron/Aileron-HeavyItalic.eot") format("eot"),
    url("#{$font-path}aileron/Aileron-HeavyItalic.woff") format("woff"),
    url("#{$font-path}aileron/Aileron-HeavyItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("#{$font-path}aileron/Aileron-Light.otf") format("opentype"),
    url("#{$font-path}aileron/Aileron-Light.ttf") format("truetype"),
    url("#{$font-path}aileron/Aileron-Light.svg") format("svg"),
    url("#{$font-path}aileron/Aileron-Light.eot") format("eot"),
    url("#{$font-path}aileron/Aileron-Light.woff") format("woff"),
    url("#{$font-path}aileron/Aileron-Light.woff2") format("woff2");
  //   font-weight: 300;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  src: url("#{$font-path}aileron/Aileron-LightItalic.otf") format("opentype"),
    url("#{$font-path}aileron/Aileron-LightItalic.ttf") format("truetype"),
    url("#{$font-path}aileron/Aileron-LightItalic.svg") format("svg"),
    url("#{$font-path}aileron/Aileron-LightItalic.eot") format("eot"),
    url("#{$font-path}aileron/Aileron-LightItalic.woff") format("woff"),
    url("#{$font-path}aileron/Aileron-LightItalic.woff2") format("woff2");
  //   font-weight: 300;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}