@import "./globals/index";

.onepage-sektion.sektion-formular{
	// max-width: 950px;
	// margin-left: 0;
	// margin-right: 0;
	width: 100%;
	max-width: 1000px;

	.sektion-titel{
		margin-bottom: $abstand-sm;
	}

	blockquote{
		border-color: $brand-primary;
		margin-top: $abstand-sm;
		margin-bottom: $abstand-sm;
	}

	p{
		width: 30em;
		max-width: 100%;
	}
}