@import "./globals/index";

.articles_carousel{
	margin-top: 48px;
	margin-bottom: 48px;

	&>h1, &>h2, &>h3, &>h4, &>h5, &>h6, &>.title{
		margin-bottom: 32px;
	}
	.swiper-wrapper{
		display: flex;
	}
	.swiper-slide {
		margin-right: 10px;

		width: 350px;
		max-width: 100%;

		display: flex;
		height: auto;
		align-items: center; //optional
		justify-content: center; //optional

		.card{
			position: relative;
			display: flex;
			height: 100%;
			width: 100%;

			.card-img-top{
				flex-grow: 0;
			}
			.card-block{
				flex-grow: 1;
			}
		}
	}
}

.content_articles{
	&>.articles_carousel{
		margin-top: 0;
		margin-bottom: 0;
	}
}