@import "./globals/index";

.breadcrumb.breadcrumb{
	background: transparent;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	margin-bottom: 0;

	.breadcrumb-item{
		color: color("gray");

		&:before{
			content: '-';
		}
		&:first-child:before{
			display: none;
		}
	}

	@include media-breakpoint-down(xs) {
		flex-direction: column;
		justify-content: flex-start;

		.breadcrumb-item{
			padding-left: 0;
			
			&:before{
				display: none;
			}
		}
	}
}