@import "./globals/index";

.events_box{
	&>.title{
		margin-bottom: 0;
	}
	p{
		margin-bottom: 8px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	.subtitle{
		margin-top: 32px;
		@include fontsize("box-subtitle", 1.2);
		font-family: $font-family-sans-serif;
		font-style: italic;
	}

	.events-list{
		display: block;
		position: relative;
		max-height: 250px;
		overflow-y: auto;
		padding: 8px 4px;
	}

	.event{
		margin-bottom: 16px;

		.event-title{
			@include fontsize("box-event-title", 1.2);
			margin-bottom: 0;
		}
		.event-cast{
			@include fontsize("box-event-cast", 1.2);
		}
	}

	.get-tickets-btn{
		margin-top: 16px;
	}

	.btn-sm{
		margin-top: 8px;
	}
}