@import './globals/index';

.form_template {
  $columnpadding: 32px;

  .inputfields-wrapper {
    .inputfields {
      @include make-row();

      & > * {
        @include make-col(12);
      }

      & > .form-section {
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }

        &.no-columns {
          @include media-breakpoint-up(md) {
            @include make-col(12);
          }
        }

        padding: ($columnpadding / 2);
      }

      .form-group {
        margin-bottom: 0;

        .icon-placeholder {
          display: none;
        }

        &.icon-eur {
          .icon-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Ionicons';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            margin-left: 10px;

            &:after {
              // content: "\20AC";
              content: '\f235';
            }
          }
        }
      }

      .form-text {
        @include fontsize('form-text');
        margin-top: 0;
        margin-bottom: 16px;
        max-width: 100%;

        p {
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .form-check {
        label {
          display: inline-block;
          position: relative;
          padding-left: font-px('form-text') * 1.6;
          cursor: pointer;
          font-size: font-px('form-text');

          input {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked ~ .control__indicator {
              background: $primary;

              &:after {
                display: block;
              }
            }
          }

          &:hover input ~ .control__indicator,
          input:focus ~ .control__indicator {
            background: darken($input-color, 10%);
          }

          &:hover input:not([disabled]):checked ~ .control__indicator,
          input:checked:focus ~ .control__indicator {
            background: darken($primary, 10%);
          }
        }

        .control__indicator {
          position: absolute;
          top: 3px;
          left: 0;
          height: font-px('form-text');
          width: font-px('form-text');
          background: $input-color;
          transition: background 0.1s ease-out;

          &:after {
            content: '';
            position: absolute;
            display: none;
            left: font-px('form-text') / 3;
            top: font-px('form-text') / 5;
            width: font-px('form-text') / 3;
            height: font-px('form-text') / 1.6;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }

      .form-group.required label {
        &:after {
          content: ' *';
          @include fontsize(0.75);
          position: relative;
          vertical-align: top;
          display: inline-block;
          color: $primary;
        }
      }

      label {
        font-weight: bold;
        margin-bottom: 4px;

        &.form-check-label {
          font-weight: normal;
        }
      }
    }
  }

  .form-row {
    @include make-row();
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;

    > .col,
    > [class*='col-'] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  // .form-field-smaller{
  // 	display: inline-block;
  // 	padding: 5px;

  // 	&:first-child{
  // 		padding-left: 0;

  // 	}
  // }

  .info-field {
    display: none;
  }

  .btn-form-send {
    margin: 0.5rem;
    cursor: pointer;
    margin-left: 0;
  }

  .antispam-code {
    .code {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      background: $light;
      color: color-contrast($light);
      font-family: $font-family-monospace;
      padding: 2px 8px;
      margin-right: 8px;
    }
  }
}
