@import './globals/index';

.results-wrapper {
  position: relative;
  display: block;
  margin-left: -8px;
  margin-right: -8px;

  .total-number {
    margin: 8px;
  }

  .btn-group-wrapper {
    display: block;
    position: relative;
    text-align: center;
    margin: 8px;
  }

  .masonry-grid {
    .masonry-grid-sizer,
    .masonry-grid-item {
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: 50%;
      }

      @include media-breakpoint-up(lg) {
        width: 33.3%;
      }

      @include media-breakpoint-up(xxl) {
        width: 20%;
      }
    }

    .masonry-grid-item {
      padding: 8px;
    }
  }
}

.has-sidebar {
  .results-wrapper {
    .masonry-grid {
      .masonry-grid-sizer,
      .masonry-grid-item {
        width: 100%;

        @include media-breakpoint-up(lg) {
          width: 50%;
        }

        @include media-breakpoint-up(xl) {
          width: 33%;
        }

        @include media-breakpoint-up(xxl) {
          width: 20%;
        }
      }
    }
  }
}
