@import "./globals/index";

.section.section_articles_carousel{
	.section-title.section-title{
		margin-bottom: 8px;
	}

	.carousel{
		margin-top: 32px;
		margin-bottom: 8px;

		.carousel-cell {
			margin-right: 10px;

			width: 20%;
			@include media-breakpoint-down(lg) {
				width: 30%;
			}
			@include media-breakpoint-down(md) {
				width: 45%;
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
	}
}