@import "./globals/index";

.section.section_articles_carousel{
	padding-top: $padding-sm;
	padding-bottom: $padding-sm;
	@include angle('before', true);
	@include angle('after', false);

	.section-title.section-title{
		margin-bottom: $padding-xs;
	}

	.carousel{
		margin-top: $padding-sm;
		margin-bottom: $padding-xs;

		.carousel-cell {
			margin-right: 10px;

			width: 20%;
			@include media-breakpoint-down(lg) {
				width: 30%;
			}
			@include media-breakpoint-down(md) {
				width: 45%;
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
	}
}