@import "./globals/index";

.section.section_form{
	.section-title{
		margin-bottom: 32px;
	}

	blockquote{
		border-color: $primary;
		margin-top: 32px;
		margin-bottom: 32px;
	}

	p{
		width: 30em;
		max-width: 100%;
	}
}