@import "./globals/index";

.section.section_partners_and_sponsors {
  $grid-padding: 16px;
  padding-left: 0;
  padding-right: 0;

  .list {
    padding-left: 32px;
    padding-right: 32px;

    @include media-breakpoint-up(sm) {
      padding-left: 48px;
      padding-right: 48px;
    }
    // padding: 0 ($grid-padding / 2);

    .tile {
      padding: $grid-padding;
    }
  }

  .contents_component > .content-block {
    max-width: 30em;
  }

  .subtitle {
    padding-left: 32px;
    padding-right: 32px;

    @include media-breakpoint-up(sm) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  .tile {
    text-align: center;
    font-weight: bold;
    @include fontsize(0.9, 1.2);

    .content-wrapper {
      display: flex;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: grayscale(100%);
      transition: filter 1s;

      &:hover,
      &:focus {
        filter: none;
      }

      .lazy-image {
        background-color: $body-bg;
      }

      & > picture {
        width: 100%;
      }
    }
  }

  .highlight {
    position: relative;
    padding: 24px;

    @include media-breakpoint-up(sm) {
      padding-left: 48px;
      padding-right: 48px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -146px;
      left: 0;
      height: 150px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% 100%;
      background-image: url("./../../../img/spacer/spacer_tertiary_down.svg");
    }

    .subtitle {
      padding-left: $grid-padding;
      padding-right: $grid-padding;
    }

    &.text-block {
      text-align: center;
      padding: 48px;

      .content-block {
        margin: 0 auto;

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .partners {
    padding: 24px;
    padding-bottom: 150px;

    @include media-breakpoint-up(sm) {
      padding-left: 48px;
      padding-right: 48px;
    }

    .content-wrapper {
      padding: 8px;
      background: #fff;
      filter: none;
    }

    .row {
      padding: 0 $grid-padding;
      margin-right: -1 * $grid-padding;
      margin-left: -1 * $grid-padding;
    }
  }

  .sponsors {
    position: relative;
    padding-top: 48px;
    padding-bottom: 150px;

    &:before {
      content: "";
      position: absolute;
      top: -146px;
      left: 0;
      height: 150px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% 100%;
      background-image: url("./../../../img/spacer/spacer_up.svg");
    }
  }

  &.spacer-follows {
    padding-bottom: 0;

    .thank-you {
      padding-bottom: 150px;
    }
  }
}
