@import "./globals/index";

.section.section_custom_hero {
  text-align: center;
  margin-top: 0;
  padding: 0;
  position: relative;
  display: block;
  background-color: #08030e;
  background-image: linear-gradient(360deg, #9c4f1a 0%, #69454b 32%, #2c182c 67%, #08030e 100%);
  // overflow: hidden;

  @include media-breakpoint-up(md) {
    margin-bottom: 170px;
  }

  .hero-image.aspect-ratio {
    &:before {
      padding-top: 40%;

      @include media-breakpoint-down(sm) {
        padding-top: 45%;
      }
    }
  }

  &:first-child {
    margin-top: -90px;
    padding-top: 89px;

    @include media-breakpoint-up(md) {
      padding-top: 90px;
    }
  }

  .logo-wrapper {
    padding: ($padding-y-lg * 1.7) $padding-x-md $padding-y-md $padding-x-md;

    @include media-breakpoint-up(lg) {
      padding-left: $padding-x-lg;
      padding-right: $padding-x-lg;
    }

    @include media-breakpoint-down(sm) {
      padding: $padding-y-lg $padding-x-sm $padding-y-sm $padding-x-sm;
    }
  }

  .hero-image-wrapper {
    text-align: center;
    padding: 6rem 5rem 2rem;
    position: absolute;
    top: 90px;
    margin: 0 auto;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 10rem 10rem 1rem;
    }

    @include media-breakpoint-down(xs) {
      padding: 4.5rem 6rem 1rem;
    }

    .hero-image {
      z-index: 42;

      margin: 0 $padding-x-md;
      @include media-breakpoint-down(sm) {
        margin: 0;
      }
    }

    .ar-inhalt {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .main_image {
      height: 100%;
      width: auto;
      max-width: 100%;
      display: inline-block;
      position: relative;
      z-index: 5;
    }
    .title-link {
      width: 100%;
      height: 100%;
      max-width: 900px;
    }
  }

  .goldinfo {
    position: relative;
    background-image: url("../../../img/goldinfo_background_rect.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 630px;
    max-width: 100%;
    height: 200px;
    margin-top: -42px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    z-index: 10;

    @include media-breakpoint-down(lg) {
      width: 500px;
      height: 150px
    }

    @include media-breakpoint-up(md) {
      float: right;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
      width: 100%;
      height: auto;
      margin-top:0;
    }

    .medicus-logo {
      position: relative;
      display: flex;
      flex-grow: 1;
      order: 2;
      text-align: right;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      @include media-breakpoint-down(md) {
        padding-left: 50px;
        padding-right: 20px;
      }

      @include media-breakpoint-down(xs) {
        padding-left: 20px;
        padding-right: 5px;
      }

      & > a {
        position: relative;
        display: inline-block;
        height: 100%;
        max-width: 350px;

        @include media-breakpoint-down(lg) {
          max-width: 220px;
        }
      }

      img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        display: block;
      }
    }
    .medicus-teaser {
      width: 230px;
      position: relative;
      display: flex;
      order: 1;
      text-align: right;
      flex-direction: column;
      align-items: flex-end;
      flex-grow: 0;

      .info-text {
        padding: 5px 10px;
        color: #fff;
        max-width: 210px;
        font-weight: bold;
        line-height: 1.2;

        .font-normal{
          display: block;
          position: relative;
          font-weight: normal;
          margin-bottom: 5px;
          @include font-size(0.9rem);
        }

        @media (max-width: 1200px) {
          background: #fff;
          color: $body-color;
          @include font-size(0.8rem);

          .font-normal{
            @include font-size(0.8rem);
          }
        }
      }
      .btn{
        margin-bottom: 3px;
      }
    }
  }
}
