@import "./globals/index";

.section.section_hero_image {
  text-align: center;
  margin-top: 0;
  padding: 0;
  position: relative;
  display: block;
  background-color: #08030e;
  background-image: linear-gradient(360deg, #9c4f1a 0%, #69454b 32%, #2c182c 67%, #08030e 100%);
  overflow: hidden;

  &:first-child {
    // margin-top: -90px;
    padding-top: 0;
  }
  
  .spacer-image{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    z-index: 100;
  }
}
