@import "./globals/index";

.section.section_pages_grid{
	$grid-padding: $padding-sm;

	.pages-row{
		padding: 0 0;

		.page{
			padding: ($grid-padding / 2) ($grid-padding / 2);

			.main_image{
				margin-bottom: 0;
			}
		}
	}
}