@import './globals/index';

.section.section_pages_grid {
  $grid-padding: 32px;

  .pages-row {
    padding: 0 0;

    .page {
      padding: ($grid-padding / 4) ($grid-padding / 4);
      @include media-breakpoint-up(md) {
        padding: ($grid-padding / 2);
      }

      .main_image {
        margin-bottom: 0;
      }
    }
  }
}
