@import "./globals/index";

.section.section_form{
	// max-width: 950px;
	// margin-left: 0;
	// margin-right: 0;
	width: 100%;
	max-width: 1000px;

	.section-title{
		margin-bottom: $padding-sm;
	}

	blockquote{
		border-color: $brand-primary;
		margin-top: $padding-sm;
		margin-bottom: $padding-sm;
	}

	p{
		width: 30em;
		max-width: 100%;
	}
}