.content_collapsible {
  .accordion-item {
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .accordion-button {
      font-weight: bold;
    }

    .accordion-body {
      padding: 32px 16px 28px 16px;

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
