@import "./globals/index";

.t-home{
	header{
		height: 0;

		&>.header-hero{
			display: none;
		}

		&.mini{
			height: 0;
		}
		
		&:not(.mini){
			height: 0;

			.navbar, .navbar-collapse{
				background-color: transparent;
			}
			.navbar-brand{
				display: none;
			}

			.navbar-nav a.nav-link.nav-link{
				color: #fff;
			}
		}
	}
}