$abstand-xs:		.5rem;
$abstand-x-xs:		$abstand-xs;
$abstand-y-xs:   	$abstand-xs * 0.75;

$abstand-sm: 		2rem;
$abstand-x-sm: 		$abstand-sm;
$abstand-y-sm:     	$abstand-sm * 0.65;

$abstand-md:    	4rem;
$abstand-x-md:    	$abstand-md;
$abstand-y-md:    	$abstand-md * 0.75;

$abstand-lg:  		10rem;
$abstand-x-lg:  	$abstand-lg;
$abstand-y-lg:   	$abstand-lg * 0.75;

$abstand-xlg:  		20rem;
$abstand-x-xlg:  	$abstand-xlg;
$abstand-y-xlg: 	$abstand-xlg * 0.75;