@import "./globals/index";

.t-article {
  .main-content {
    .contents-area {
      .main_image {
        @include media-breakpoint-up(lg) {
			margin-bottom: 48px;
        }
      }
      .title {
        border-style: solid;
        border-width: 0;
        border-color: $body-color;
      }
    }
  }
}
