@import "./globals/index";

.default_page {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;

  margin-bottom: 32px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 8px;
  }
}

.main-content>.default_page{
  @include make-container();
  padding: 60px 40px 40px 40px;

  @include media-breakpoint-only(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media-breakpoint-only(xs) {
    padding: 40px 20px 20px 20px;
  }
}