@import "./globals/index";

.t-galleries_container{
	.main-content{
		.contents-area{
			.content_galleries{
				margin-top: 32px;
			}
		}
	}

	article .title{
		padding-left: 0;
		padding-right: 0;
	}
}